<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>waffle.moe</title>
    <link rel="stylesheet" href="/assets/styles/base.css">
</head>

<body>
    <header>
        <img src="/assets/images/logo.png" class="navlogo">
        <nav>
            <ul class="nav_links">
                <li class="active"><a href="/" class="active">Home</a></li>
                <li><a href="/tools">Tools</a></li>
            </ul>
        </nav>
        <button><a href="https://go.waffle.moe/contact">Contact</a></button>
    </header>
    <br>

    <h1 class="helloworld">Hello World</h1>
</body>

</html>